.main {
  position: relative;
  display: grid;
  place-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  font-size: 2rem;
  max-width: var(--max-width);
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  padding: 1.4rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  color: rgba(var(--card-border-rgb), 0.3);
}

@media (max-width: 700px) {

  .description {
    font-size: 1.1rem;
  }

  .description a {
    padding: 1rem;
  }
}